certifi==2021.10.8
greenlet==1.1.2
mysql-connector-python==8.0.29
mysqlclient==2.1.0
protobuf==3.20.1
PyMySQL==1.0.2
SQLAlchemy==1.4.36
wincertstore==0.2
numpy==1.22.3
numpy-base=1.22.3
dlib==19.24.0
opencv==4.5.5
pytest==7.1.1